*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 40px;
    font-family:'Monteserrat';
    scroll-behavior: smooth;
}
section {
    min-height: 100vh;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.h1Sec{
    margin-top: 40px;
    font-size: 70px;
    color: rgb(105, 103, 103);
    text-decoration: none;
}
h1{
    font-size: 63px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
h2{
    font-size: 50px;
    color: rgb(195, 117, 211);
    text-decoration: none;
    text-align: right;
}
.container {
    width: 100%;
    height: 500px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header{
    margin-top: 0;
    width: 100%;
    display: flex;
    align-items: left;
    padding: 20px;
}
#sec-1 {
    background-image: url("./bilder/book2.jpg");
    background-size: cover;
    /* background-color: #a972d3; */
    background-color: #be9aa4;
    background-blend-mode: multiply;
    filter: brightness(80%);
    transform: translateZ(-1px);
}
#sec-2{
    background-color: #f1e9db;
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down-holder {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 10px;
    top: auto;

}

.scroll-down::before,
.scroll-down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid rgb(255, 255, 255);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after {
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

/* meny */
main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


main .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

main .content .main-title {
    max-width: 350px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #503d4f;

}
main .content .wrapperbtn {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .content .title {
    color: #be9aa4;
    font-size: 35px;
    width: 100%;
    text-align: center;
}
main .content .wrapperbtn button {
    background-image: linear-gradient(-45deg, #d82ca4 0, rgb(76, 0, 130) 100%);
    padding: 10px;
    margin-top: 8px;
    width: 100%;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
main .content .wrapperbtn button:hover {
    background-image: linear-gradient(-45deg, rgb(76, 0, 130), #d82ca4 0,  100%);
}
main .content .wrapperbtn button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
@media (min-width:1100px) {
   
    main .content .main-title {
        font-size: 40px;
        max-width: none;
    }
    main .content .wrapperbtn {
        max-width: none;
    }
    main .content .wrapperbtn button {
        font-size: 30px;
        max-width: 500px;
    }

}