/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F6F6F6;
}
header {
    height: auto;
    display: flex;
    flex-direction: column;
}

/* Top */
.container{
    background-image: url("./bilder/book.jpg");
    background-color: #C26BFF;
    background-blend-mode: multiply;
    filter: brightness(70%);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 50px;
}

.container-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(218, 218, 218);
}
header a:hover {
    cursor: pointer;
    color: #fff;
}

header ul li {
    display: inline;
    font-size: 28px;
    text-align: right;
    padding: 0 10px;
}

 header .meny {
    padding: 0 10px 10px 10px;
    margin-top: auto;
}

h4 {
    font-size: 25px;
    color: rgb(116, 112, 112);
}

.top {
    width: 100%;
    background-image: linear-gradient(-45deg, #d82ca4 0, rgb(76, 0, 130) 100%);
}
h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.info {
    font-size: 55px;
    color: rgb(76, 50, 95);
}
.box {
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgb(183, 182, 184);
    height: 100%;
    margin: 50px;
    width: 30%;
    background: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    position: relative;
}
/* input[type="text"], input[type="password"] {
    border-radius: 10px;
    border: 2px solid #aaa;
    outline: none;
    height: 27px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 40px;
    margin: 15px auto 7px auto;
    box-sizing: border-box;
    transition: 0.5s;
    padding: 10px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: rgb(173, 107, 199);
    box-shadow: 0 0 9px 0 rgb(173, 107, 199);
} */

button {
    color: rgb(255, 255, 255);
    background-color: rgb(212, 162, 223);
    border: 2px solid #aaa;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}
button:hover {
    border-color: rgb(173, 107, 199);
    color: purple;
    background-color: rgb(189, 93, 184);
}

h3 {
    font-size: 40px;
    color: red;
    margin: 50px 0 0 300px;
}

/* js */
.ml1 {
    font-weight: 900;
    font-size: 4.5em;
    margin: 80px;
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    margin-bottom: 150px;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}
.ml1 .line2 {
    bottom: 0;
}

/* Main */
main{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.grey-box {
    padding: 20px;
    border-radius: 20px;
    background: rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
}
.right-date-box{
    width: 30%;
    border-left: solid rgb(163, 163, 163) 2px;
    text-align: left;
    padding: 5px;
}

h2{
    color: black;
    font-size: 30px;
}
p{
    font-size: 20px;
}

.parallax img:nth-child(1){
    top: 550px;
    left: 50px;
    position: absolute;
    z-index: -1;
}
.parallax img:nth-child(2){
    top: 800px;
    left: 900px;
    position: absolute;
    z-index: -1;
}
.wishing-well{
    /* change class for form */
    width: 100%;
}